.perspective-error {
  //background-image: url('images/error-page-background.jpg');
  background-size: cover;
  //color: #fff;
  color: orange;
}

.perspective-error-top-text {
  font-size: 10rem;
  line-height: 20rem;
  margin: auto;
  background-color: #ebebeb;
  width: 20rem;
  border-radius: 10rem;
  text-align: center;
}
.perspective-error-desc {
  text-align: center;
  font-size: 1.3rem;
}
